root {
    --color1: #ccc;
    --colorWhite: #ffff
    --colorBlack: #000;
    --color2: #7c2020;
    --color3: #f2f4f6;
    --color4: #f7831e;
    --color5: #ffcc00;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-1200px {
    width: 1200px;
    margin: 0 auto;
}